absl-py
aiohappyeyeballs
aiohttp
aiosignal
asdfghjkl
asdl
async-timeout
attrs
backpack
backpack-for-pytorch
bayesian-torch
certifi
charset-normalizer
contourpy
curvlinops-for-pytorch
cycler
einconv
einops
exceptiongroup
filelock
fonttools
frozenlist
fsspec
grpcio
hf-xet
huggingface-hub
idna
iniconfig
Jinja2
joblib
kiwisolver
#-e git+https://github.com/denskrlv/laplace-v2.0.git@13e5c4ce9fff204fea0a49024a07971920faa9ef#egg=laplace
lightning-utilities
littleutils
lmdb
Markdown
MarkupSafe
matplotlib
mpmath
multidict
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
ogb
opt_einsum
outdated
packaging
pandas
patsy
pillow
pluggy
propcache
protobuf
psutil
pyaml
pycalib
pyparsing
pytest
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
simplejson
six
statsmodels
sympy
tabulate
tensorboard
tensorboard-data-server
threadpoolctl
tokenizers
tomli
torch
torch-geometric
torch-scatter
torchmetrics
torchvision
tqdm
transformers
# triton
typing_extensions
tzdata
unfoldNd
urllib3
Werkzeug
wilds
yarl